@import "../canvas.scss";

.second {
  background: url(/assets/image/replay.svg) no-repeat center;
  background-size: 18px;
  background-color: #1ec592;
  position: absolute;
  width: 32px;
  right: 0px;
  bottom: 0px;
}
